{% load static %}
{% load role_tags %}
<div class="sidebar">
    <div class="menutext">
        <h4></h4>
    </div>
    <div class="user-info">
        <h2>{{ request.user.first_name }} {{ request.user.middle_name }} {{ request.user.last_name }}</h2>
        <h5>Dean</h5>
    </div>
    <div class="menutext">
        <h4>Menu</h4>
    </div>
    <nav>
        <a href="{% url 'dashboard_dean' %}" class="menu-link">Dashboard</a>
        {% if request.user|has_role:"Faculty" %}
        <a href="{% url 'dashboard_faculty' %}" class="menu-link">To Faculty Dashboard</a>
        {% endif %}
        <a href="{% url 'view_schedules_dean' %}" class="menu-link">Exam Schedules</a>
    </nav>
    <a href="{% url 'logout' %}" class="logout-button">Logout</a>
    <h6>&copy; 2024 ExamSync USTP</h6>
</div>

<span class="sidebar-toggle" onclick="toggleSidebar()">☰</span>
